/* 
    Document   : ie-artist
    Created on : 12.Haz.2010, 01:42:48
    Author     : CANER
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.similar_artist_list_photo_overlay{
    margin-top: 0px;
    margin-left: -95px;
}
/*
#similar_artists_content{
    padding-left: 14px;
}

.singer_features{
    margin-left: 0px;
    padding-left: 5px;
}*/

.ie_blue_default_buttons{
    width: 95px;
}
