/* 
    Document   : ie-profile
    Created on : 10.Haz.2010, 18:30:55
    Author     : CANER
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

